.grid {
  display: grid;
  list-style-type: none;
  padding: 0;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.withSidebar {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (min-width: 768px) {
  .withSidebar {
    grid-template-columns: repeat(3, 1fr);
  }

  .noSidebar {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 575px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
