.filterContainer {
  display: flex;
  width: 100%;
  padding: 1em;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 700;
  justify-content: space-around;
}

.select,
.title {
  font-size: 1rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  outline: none;
  text-align: center;
  width: 50%;
}

.title {
  border-right: 1px solid #e5e5e5;
}
