:root {
  --foreground: #000000;
  --background: #ffffff;
  font-family: var(--font-montserrat), sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-inter), sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
